* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: rgb(246, 246, 246);
}
img {
  max-width: 100%;
}
p {
  font-family: "Montserrat";
  color: rgb(61, 61, 61);
  margin: 20px 0;
  line-height: 24px;
}

h1 {
  font-family: "Montserrat";
  font-size: 30px;
}
h2 {
  font-size: 25px;
  font-family: "Montserrat";
}
